version: 2.1

jobs:
  save_hello_world_output:
    docker:
      - image: alpine:latest
    steps:
      - run:
          command: echo "hello, world!" > ~/output.txt
      - persist_to_workspace:
          root: ~/
          paths:
            - output.txt

  print_output_file:
    docker:
      - image: alpine:latest
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "print content"
          command: cat ~/output.txt

  print_output_files:
    docker:
      - image: alpine:latest
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "print content"
          command: |
            echo "bonjour!!!" > ~/output.txt
            cat ~/output.txt

workflows:
  welcome:
    jobs:
      - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output
      - print_output_files:
          requires:
            - save_hello_world_output
            