version: 2.1

commands:
  print_pipeline_id:
    steps:
      - run:
          command: echo " l'id du pipelise est ${CIRCLE_WORKFLOW_ID}"

default: &default
    docker:
      - image: alpine:latest

jobs:
  use_parameter:
    <<: *default
    steps:
      - print_pipeline_id
      - run: return 1
      - run:
          command: echo "vous avez une erreur :("
          when: on_fail
  

workflows:
  welcome:
    jobs:
      - use_parameter
      -  task_error