version: 2.1

jobs:
  save_hello_world_output:
    steps:
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - output.txt

  print_output_file:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "print content"
          command: cat /tmp/worksapce/output.txt

  print_hello:
    docker:
      - image: alpine:latest
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: echo "Hello, my dear!" > /tmp/workspace/output.txt

  print_world:
    docker:
      - image: alpine:latest
    steps:
      - checkout
      - run:
          name: "Say world"
          command: "echo World!"


  print_myname:
    docker:
      - image: cimg/base:2020.01
    steps:
      - run:
          name: "env_var"
          command: |
              echo "${ENVIRO} et ${ENVIRO1}"

workflows:
  welcome:
    jobs:
      - save_hello_world_output
      - print_hello:
          requires:
          - save_hello_world_output
      - print_world:
          requires:
            - print_hello
      - print_output_file:
          requires:
            - print_hello
            - print_world
      - print_myname