version: 2.1

default: &default
    docker:
      - image: python:3.10-slim-buster

jobs:
    deploy_server:
        <<: *default
        steps:
        - add_ssh_keys: 
            fingerprints: ["a0:90:56:ec:16:18:ea:a0:27:29:dc:8c:23:c4:37:da"]
        - run:
            name: install ansible
            command: |
                apt-get install ansible -y
        -run:
            name: run playbook
            command: |
                ansible-playbook main.yml -i inventory.yml
          
  

workflows:
    ansible_workflow:
      jobs:
        - deploy_server
