version: 2.1

docker: &docker

jobs:

  save_hello_world_output:
    <<: *docker
    steps:
      - run:
          command: | 
              echo "hello, world!" > ~/output.txt
              mkdir ~/ansible/
      - persist_to_workspace:
          root: ~/
          paths:
            - output.txt
            - ~/ansible/

  print_output_file:
    <<: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "print content"
          command: cat ~/output.txt && cat ~/ansible/inventory.txt

  print_output_files:
    <<: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "print content"
          command: |
            echo "bonjour!!!" > ~/output.txt
            cat ~/output.txt

  write_inventory:
    <<: *docker
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: "write in ansible inventory file"
          command: |
              echo "[all]" > ~/inventory.txt
              aws ec2 describe-instances --query 'Reservations[*].Instances[*].PublicIpAddress' \
              --filters "Name=tag:Project,Values=udacity" --output text >> inventory.txt

workflows:
  welcome:
    jobs:
      - save_hello_world_output
      - write_inventory:
          requires:
            - save_hello_world_output
      - print_output_file:
          requires:
            - save_hello_world_output
            - write_inventory
      - print_output_files:
          requires:
            - save_hello_world_output
            